<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>614889908034-m8eg21hib9mpiu080d9i7lumhrtrofc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614889908034-m8eg21hib9mpiu080d9i7lumhrtrofc2</string>
	<key>API_KEY</key>
	<string>AIzaSyAgYA3tDJG_V7QT8kRDXLEiwL1ELNA6HfU</string>
	<key>GCM_SENDER_ID</key>
	<string>614889908034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charlesyangkai.NextChatCharles</string>
	<key>PROJECT_ID</key>
	<string>nextchatcharles</string>
	<key>STORAGE_BUCKET</key>
	<string>nextchatcharles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:614889908034:ios:2c2857c283f9ba93</string>
	<key>DATABASE_URL</key>
	<string>https://nextchatcharles.firebaseio.com</string>
</dict>
</plist>